.nested-inline {
	margin: 5px;
}

td > .nested-inline {
	margin: 0px;
}

.nested-inline-bottom-border {
	border-bottom: 1px solid #DDDDDD;
}

.no-bottom-border.row1 > td {
	border-bottom: solid #EDF3FE 1px;
}

.no-bottom-border.row2 > td {
	border-bottom: solid white 1px;
}
