name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install flake8 flake8-assertive flake8-bugbear isort

      - name: flake8
        run: |
          flake8

      - name: isort
        run: |
          isort . --check-only --diff

  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        tox_env:
          - "py35-django22"
          - "py35-django30"
          - "py36-django22"
          - "py36-django30"
          - "py37-django22"
          - "py37-django30"
          - "py38-django40"
          - "py39-django40"
          - "py310-django40"

        include:
          - python: "3.5"
            tox_env: "py35-django22"

          - python: "3.5"
            tox_env: "py35-django30"

          - python: "3.6"
            tox_env: "py36-django30"

          - python: "3.6"
            tox_env: "py36-django22"

          - python: "3.7"
            tox_env: "py37-django30"

          - python: "3.7"
            tox_env: "py37-django22"

          - python: "3.8"
            tox_env: "py38-django40"

          - python: "3.9"
            tox_env: "py39-django40"

          - python: "3.10"
            tox_env: "py310-django40"


    steps:
      - uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Install
        run: |
          python -m pip install --upgrade wheel setuptools
          pip install tox tox-venv

      - name: Test
        run: |
          tox -e ${{ matrix.tox_env }}
